<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/7dc614ef69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../static/bootstrap-5.1.3\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Document</title>
</head>

<body class="bg-white">
    <nav class="navbar navbar-light bg-white">
        <div class="container-fluid">
            <a style="clip-path: PHN2ZyBpZD0iMTAwMTUuaW8iIHZpZXdCb3g9IjAgMCA0ODAgNDgwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiA+Cgk8cGF0aCBmaWxsPSIjNDc0YmZmIiBkPSJNNDAwLDI5N1EzMzEsMzU0LDI2MC41LDQwNlExOTAsNDU4LDExNiwzOTYuNVE0MiwzMzUsNTAsMjQzLjVRNTgsMTUyLDEyNi41LDk3LjVRMTk1LDQzLDI3MCw3NlEzNDUsMTA5LDQwNywxNzQuNVE0NjksMjQwLDQwMCwyOTdaIiAvPgo8L3N2Zz4;" class="navbar-brand text-dark-blue fw-bold fs-4 ms-sm-5 ms-md-5" href="#">
                <img src="../static/assets/icons/skilled-logo.png" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                Skilled
            </a>
            <span id="nav-bar-btn" class="fw-bold btn text-light-blue bg-dark-blue rounded-pill me-md-5 me-sm-0">
                Get Started
            </span>
        </div>
    </nav>

    <header class="row mt-5">
        <div id="heading-text" class="col-12 col-sm-6 ms-md-5 ms-sm-5 ps-md-4 d-flex flex-column justify-content-center">
            <div style="width: 70%;">
                <h1 class="text-dark-blue fw-bold">Maximize Skill, Maximize Budget</h1>
                <p class="opacity-50 mt-3 lead" style="line-height: 1.8rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores soluta aliquid,
                    consequuntur obcaecati, inventore labore dolorum quis odio autem eum veritatis? Dolorem, excepturi.
                </p>
            </div>
            <div><span class="btn btn-lg rounded-pill fw-bold bg-gradient text-white mt-3">Get Started</span></div>
        </div>
        <div id="heading-img" class="col-12 col-md-5 position-relative">
            <div class="position-absolute image-stroke bg-gradient">
                
            </div>
            <div class="bg-gradient py-3 d-flex justify-content-center align-items-center rounded-pill" style="overflow: hidden; width: 65%;">
                <img src="/static/assets/man_writting.png" alt="">
            </div>
            <div id="float1" class="position-absolute d-flex flex-column shadow justify-content-center top-0 end-50 p-2 pe-3 bg-white rounded rounded-3" style="z-index: 10;">
                <div class="opacity-50 fw-bold">Members</div>
                <div class="fs-4 fw-bold">25K</div>
            </div>
            <div id="float2" class="position-absolute d-flex flex-column shadow justify-content-center bottom-50 start-0 p-2 pe-3 bg-white rounded rounded-3" style="z-index: 10;">
                <div class="opacity-50 fw-bold">Course Hours</div>
                <div class="fs-4 fw-bold">1,451</div>
            </div>
        </div>
    </header>

    <section class="row px-3 py-5 bg-light-transistion">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="intro-card p-4 rounded rounded-3 mx-4  bg-gradient text-light fw-bold fs-5"><span class="w-75 d-block">Check out our most popular courses!.</span></div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <span class="card-icon position-absolute bg-gradient top-0 rounded-circle text-light d-flex justify-content-center align-items-center" style="aspect-ratio: 1/1; width: 30px;"><i class="fa-solid fa-person-running"></i></span>
            <div class="p-4 rounded rounded-3 mx-4 mb-3 bg-white">
                <h4 class="fs-5 fw-bold">Animation</h3>
                <p class="opacity-50 fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio beatae dolor maxime facere eius.</p>
                <p class="text-orange fw-bold">Get Started</p>    
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <span class="card-icon position-absolute bg-gradient top-0 rounded-circle d-flex justify-content-center align-items-center text-light" style="aspect-ratio: 1/1; width: 30px;">
                <i class="fa-solid fa-object-group"></i>
            </span>
            <div class="p-4 rounded rounded-3 mx-4 mb-3 bg-white">
                <h4 class="fs-5 fw-bold">Design</h3>
                <p class="opacity-50 fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio beatae dolor maxime facere eius.</p>
                <p class="text-orange fw-bold">Get Started</p>    
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <span class="card-icon position-absolute bg-gradient top-0 rounded-circle d-flex justify-content-center align-items-center text-light" style="aspect-ratio: 1/1; width: 30px;">
                <i class="bi bi-camera-fill"></i>
            </span>
            <div class="p-4 rounded rounded-3 mx-4 mb-3 bg-white">
                <h4 class="fs-5 fw-bold">Photography</h3>
                <p class="opacity-50 fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio beatae dolor maxime facere eius.</p>
                <p class="text-orange fw-bold">Get Started</p>    
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <span class="card-icon position-absolute bg-gradient top-0 rounded-circle d-flex justify-content-center align-items-center text-light" style="aspect-ratio: 1/1; width: 30px;">
                <i class="bi bi-currency-bitcoin"></i>
            </span>
            <div class="p-4 rounded rounded-3 mx-4 mb-3 bg-white">
                <h4 class="fs-5 fw-bold">Crypto</h3>
                <p class="opacity-50 fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio beatae dolor maxime facere eius.</p>
                <p class="text-orange fw-bold">Get Started</p>    
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 position-relative">
            <span class="card-icon position-absolute bg-gradient top-0 rounded-circle d-flex justify-content-center align-items-center text-light" style="aspect-ratio: 1/1; width: 30px;">
                <i class="bi bi-briefcase-fill"></i>
            </span>
            <div class="p-4 rounded rounded-3 mx-4 mb-3 bg-white">
                <h4 class="fs-5 fw-bold">Business</h3>
                <p class="opacity-50 fw-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio beatae dolor maxime facere eius.</p>
                <p class="text-orange fw-bold">Get Started</p>    
            </div>
        </div>
    </section>
    <footer class="bg-dark-blue d-flex py-2 px-4 justify-content-between align-items-center">
        <span class="text-white fw-bold fs-5">Skill</span>
        <div><span class="btn rounded-pill fw-bold text-white" style="background: linear-gradient(180deg, #6C49ED, #e421b3);">Get Started</span></div>
    </footer>

    <script src="../static/bootstrap-5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/gsap.min.js"></script>
    <script src="../main.js"></script>
</body>

</html>